@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

.container{
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    align-items: center;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
}
nav > ul{
    list-style: none;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 0;
}

nav>ul>li{
    display: inline-block;
    padding: 0 0.3rem;
}


nav>ul>li:last-child{
    padding-left: 0;
}
a{
    text-decoration: none;
    color: black;
    position: relative;
}

a::after{
    content: "";
    bottom:-8px;
    left: 0;
    position: absolute;
    width: 0;
    height: 3px;
    color: #373f49;
    transition:all ease-in-out .3s;
}

a:hover::after{
    width: 100%;
    background-color: #5a189a;
}
main{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
    box-shadow: 0 -12px 15px #ced4da;
}

input{
    padding: 0.3rem;
    margin: 1rem;
}

#btn-check,button#btn-quiz-submit{
    height: 2rem;
    width: 8rem;
    border-radius: 1rem;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    border-color: #5a189a;
    color: #5a189a;
    cursor: pointer;
    transition: all 0.12s ease-in-out;
}

#btn-check:hover,button#btn-quiz-submit:hover{
    height: 2rem;
    width: 8rem;
    border-radius: 1rem;
    background-color: #5a189a;
    border-color: #5a189a;
    color: white;
    cursor: pointer;
}

#btn-check:disabled{
    background-color: #d3d3d3;
    border-color: #d3d3d3;
    border-style: none;
    color: grey;
    cursor: not-allowed;
}
#valid-triangle-msg{
    display: none;
    background-color: #61E786;
    color: white;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
}

#invalid-triangle-msg{
    display: none;
    background-color: #9E0031;
    color: white;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
}

/* quiz styles */
